[Desktop Entry]
Type=Application
Name=vesc_tool
Comment=Qt toolkit to configure the VESC motor controller
Exec=vesc_tool
Icon=vesc_tool
Categories=Development;
