name: macOS-arm64

on:
  # workflow_run:
  #   workflows: ["CreateRelease"]
  #   types:
  #     - completed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      vt_ver:
        description: "VESC Tool Version"
        required: true
        default: "master"
        type: string
      fw_ver:
        description: "Firmware Version"
        required: true
        default: "master"
        type: string
      os_ver:
        description: "macOS Version"
        required: true
        default: "macos-14"
        type: string
      xcode_ver:
        description: "Xcode Version"
        required: true
        default: "15.1"
        type: string
      prerelease:
        description: "Release as Prerelease"
        required: true
        default: true
        type: boolean

jobs:
  notify:
    runs-on: ${{ matrix.os }}
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        qt: [5.15.18]
        os: ["${{ inputs.os_ver }}"]
    steps:
      - name: Version2Ref
        run: |
          if [[ "${{ inputs.vt_ver }}" =~ ^([0-9]+)\.([0-9]+)$ ]]; then
            echo "VT_REF=release_${BASH_REMATCH[1]}_${BASH_REMATCH[2]}" >> $GITHUB_ENV
          elif [[ "${{ inputs.vt_ver }}" == "master" ]]; then
            echo "VT_REF=master" >> $GITHUB_ENV
          else
            echo "VT_REF=${{ inputs.vt_ver }}" >> $GITHUB_ENV
          fi
        shell: bash
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.VT_REF }}
      - name: Create Directories
        run: |
          mkdir -p ${{ runner.temp }}/qt
      - name: Setup
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        id: GetVersion
        run: |
          VT_VERSION=$(grep -m1 VT_VERSION vesc_tool.pro  | awk -F= '{ print $2 }' | sed 's/[ ",]//g')
          echo "VERSION=${VT_VERSION}" >> $GITHUB_OUTPUT
          echo "PACKAGE_VERSION=${VT_VERSION}" >> $GITHUB_ENV
          if [ "${{ inputs.prerelease }}" = "true" ]; then
            echo "RELEASE_NOTES=**VESC Tool Nightly Build ${VT_VERSION}**" >> $GITHUB_OUTPUT
          else
            echo "RELEASE_NOTES=**VESC Tool Release Build ${VT_VERSION}**" >> $GITHUB_OUTPUT
          fi
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '${{ inputs.xcode_ver }}'
      - name: check Xcode version
        run: /usr/bin/xcodebuild -version
      # - name: Install Qt (macOS)
      #   uses: jurplel/install-qt-action@v4
      #   with:
      #     version: ${{ matrix.qt }}
      #     aqtversion: ==3.1.*
      #     host: mac
      #     target: desktop
      #     arch: clang_64
      #     setup-python: 'true'
      #     cache: 'true'
      #     cache-key-prefix: 'install-qt-action'
      - name: Get Release data of private repository
        id: release_data
        uses: KevinRohn/github-full-release-data@v2
        with:
          repository: "darwinbeing/qt5-macos-universal"
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "1.0"
          asset-file: 'qt-5.15.18-macos-universal.tar.gz'
          asset-output: '${{ runner.temp }}/'
      - name: Extract Qt
        run: |
          tar -xzf ${{ runner.temp }}/qt-5.15.18-macos-universal.tar.gz -C ${{ runner.temp }}/
          echo "QT_ROOT=${{ runner.temp }}/Qt5.15.18/5.15.18/clang_64" >> $GITHUB_ENV
          echo "${{ runner.temp }}/Qt5.15.18/5.15.18/clang_64/bin" >> $GITHUB_PATH
      - name: Create TMP Dir
        id: mktemp
        run: echo "FW_TMP_DIR=$(mktemp -d)" >> $GITHUB_ENV
        shell: bash
      - name: Download FW Artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          name: firmware-${{ inputs.fw_ver }}
          path: ${{ env.FW_TMP_DIR }}
          github_token: ${{secrets.GITHUB_TOKEN}}
          repo: darwinbeing/bldc
          workflow: firmware.yml
          workflow_conclusion: success
          search_artifacts: true
      - name: Apply Patch
        run: |
          if [[ "${{ inputs.vt_ver }}" =~ ^([0-9]+)\.([0-9]+)$ ]]; then
              PATCH_VERSION="${{ inputs.vt_ver }}"
          elif [[ "${{ inputs.vt_ver }}" == "master" ]]; then
              PATCH_VERSION="master"
          else
              PATCH_VERSION=${{ env.PACKAGE_VERSION }}
          fi
          URL=https://raw.githubusercontent.com/darwinbeing/vesc_tool/ci/patches/"${PATCH_VERSION}"/vesc_tool.patch
          curl "$URL" -o ${{ runner.temp }}/vesc_tool.patch
          git apply "${{ runner.temp }}/vesc_tool.patch"
        shell: bash
      - name: Configure And Compile
        run: |
            mkdir -p res/firmwares
            cp -rv ${{ env.FW_TMP_DIR }}/* res/firmwares/
            chmod +x build_macos_arm64
            ./build_macos_arm64
      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: VESC_Tool-mac.dmg
      #     path: ./build/macos/VESC_Tool_platinum-macOS.dmg
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.GetVersion.outputs.VERSION }}
          release_name: Release ${{ steps.GetVersion.outputs.VERSION }}
          body: ${{ steps.GetVersion.outputs.RELEASE_NOTES }}
          file: ./build/macos/VESC_Tool_platinum-macOS-arm64.dmg
          asset_name: VESC_Tool-mac-arm64.dmg
          overwrite: true
          prerelease: ${{ inputs.prerelease }}
          target_commit: ${{ env.VT_REF }}
